node_modules
/laravel/public
/laravel/public/storage
/laravel/public/css
/laravel/public/js
/laravel/public/mix-manifest.json
/laravel/storage/*.key
/laravel/vendor
/laravel/.env
/laravel/.env.backup
/laravel/.phpunit.result.cache
/laravel/Homestead.json
/laravel/Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.DS_Store