html, body {
  background-color: #ecf0f1;
  color: #2c3e50;
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  margin: 0;
  font-size: 1.25em;
  line-height: 1.75em;
}

h1 {
  font-size: 2em;
  line-height: 2em;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #eee;
}

h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.5em;
}

a {
  color: #27ae60;
}

p {
  margin-bottom: 0.5em;
}

video {
  width: 100%;
  height: auto;
  max-height: 480px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  background: #fff;
  padding: 1em;
}

figure {
  box-shadow: 0 0 10px 5px #f5f5f5;
  padding: 8px;
  margin-top: 1em;
  margin-bottom: 1em;
}

figcaption {
  padding: 8px 12px 16px;
  font-size: 0.75em;
  line-height: 1.25em;
  color: #7f8c8d;
  text-align: center;
}

.post-footer {
  border-top: 1px solid #eee;
  padding: 1em;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.post-footer__next {
  margin-left: auto;
}

pre {
  background: #34495e;
  color: #fff;
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 0.5em;
}

.login-form {
  max-width: 300px;
}