html, body {
  background-color: $color-body-bg;
  color: $color-body-text;
  font-family: $font-family-serif;
  font-weight: 400;
  margin: 0;
  font-size: $font-size-base-mobile;
  line-height: $line-height-base;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;

  @include screen-gt-xs {
    font-size: $font-size-base-desktop;
  }
}

h1.title {
  margin: 0 !important;
  padding: 2rem 1rem 1rem;
  font-size: 2rem;

  @include screen-gt-xs {
    font-size: 3rem;
  }
}

.blog-post h2 {
  font-size: 1.4em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.5em;
  border-bottom: 1px solid $color-border;
  padding-bottom: 0.1em;

  @include screen-gt-xs {
    font-size: 1.5em;
  }
}

a {
  color: $color-primary;
}

video {
  width: 100%;
  height: auto;
  max-height: 480px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.blog-post figure {
  box-shadow: 0 0 10px 5px #f5f5f5;
  padding: 8px;
  margin-left: 0;
  margin-right: 0;

  @include screen-gt-xs {
    margin-left: 2em;
    margin-right: 2em;
  }
}

figcaption {
  padding: 8px 12px 16px;
  font-size: 0.75em;
  color: $color-grey-text;
  text-align: center;
}

pre {
  background: $color-contrast-bg;
  color: $color-contrast-text;
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 0.5em;
}

.container {
  max-width: 100%;
  flex-shrink: 1;

  @include screen-gt-xs {
    max-width: $container-max-width;
  }
}

.main-content {
  background: $color-content-bg;
  padding: 2rem 1rem;
}

.post-footer {
  border-top: 1px solid $color-border;
  padding: 1em;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.post-footer__next {
  margin-left: auto;
}

.login-form {
  max-width: 300px;
}

.footer {
  text-align: center;
  padding: 1em;
  font-size: 1rem;
  background-color: $color-body-bg;
  color: $color-body-text;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}